@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




body {
  @apply text-white font-[Poppins,sans-serif]
}

@theme{

  --color-primary: #f7ba34;
  --color-secondary: #8BBFB6;
  --color-light: #f7f7f7;
  --color-dark: #333333;
  --color-dark2: #999999;

  --container-apt: {
    center: true,
    padding : {
      DEFAULT: "1rem",
      sm: "2rem",
      lg: "4rem",
      xl: "5rem",
      "2xl": "6rem"
    }
  }

}



@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_$ffd978]
    hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6 cursor-pointer;
  }
}



@keyframes rotateGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}